body {
    font-family: 'Arial', sans-serif;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.navbar {
    margin-bottom: 2rem;
}

.chart-container {
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
}
